<ion-item>
  <ion-label position="stacked">{{label}}</ion-label>
  <ion-input #criterio [placeholder]="placeholder" type="text" (keyup)="filtrar(criterio.value)" (ionBlur)="onBlur()"
    (ionFocus)="onFocus()" [(ngModel)]="nomeSelecionado" clearInput>
  </ion-input>
</ion-item>

<ion-list class="animated bounceInUp" no-lines *ngIf="collection?.length > 0 && digitando==true" style="position: relative; margin-top: 0px; float: left; width:100%; z-index: 1000; background: red;">
  <ion-item *ngFor="let item of collection" (click)="selecionar(item)">
    <ion-label>{{item.nome}}</ion-label>
  </ion-item>
</ion-list>